#pane{
    -fx-background-color: blue;
}

#tabpane
{

    -fx-background-color: transparent;

}

.tab .tab-label
{
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: black;
}

.tab{
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 30 0 30;
}

.tab:selected{
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 5 0 0 0;
    -fx-border-color: #3FE387;
}